      <form id="login">
        
        <div id="login_alert" class="alert alert-danger" role="alert">
              This is a danger alert—check it out!
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Login</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button id="login" type="submit" class="btn btn-primary">Submit</button>
      </form>

      <ul>
        <li><a href="/auth/facebook">Login Via Facebook</a></li>
        <li><a href="/auth/google">Login Via Google</a></li>
      </ul>
      
      <script>
        $('#login').on('submit', function(evt) {
          
          evt.preventDefault();

          var formValues = {
            username: $('#login #exampleInputEmail1').val(),
            password: $('#login #exampleInputPassword1').val()
          }
          
          $.ajax('/signup/auth',  {
            method: "POST",
            dataType: "json",
            data: formValues,
            success: function(data){
              if(data.success) {
                window.location.reload();
              } else {
                $('#login_alert').html(data.e).show();
              }
            }
          });
        });
      </script>