<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>
        
    <div class="container">
      <h1>Confirmed !</h1>
      <ul>
        <%= product.name %> at <%= product.EUR_price %> €
      </ul>

      <% if(pwgen) { %>
        <h2>Your account credentials</h2>
        <ul>
          <li>Username = <%= user.username %></li>
          <li>Password = <%= pwgen %></li>
        </ul>
      <% } %>

      <p>
      
        <a href="/">Back to catalogue</a>
      </p>
    </div>

</body>
</html>